{% extends 'base.njk' %}

{% block content %}
  <h2 class="archive__title">{{ title }}</h2>

  <ul class="archive__list">
  {%- for post in posts %}
    <li class="archive__listItem">
      <article class="archive__article">
        <header class="archive__articleHeader">
          <h3 class="archive__articleTitle">
            <a href="{{ post.slug }}" class="archive__articlTitleLink">{{ post.title }}</a>
          </h3>
          <time datetime="{{ post.date|simpleDate }}">{{ post.date|friendlyDate }}</time>
        </header>

        <section class="archive__articleBody">
          <p>{{ post.description }}</p>

          {%- if post.coverImage %}
          <a href="{{ post.slug }}" role="presentation">
            <img {{ post.coverImageSrc|safe }} class="article-image" alt="" loading="lazy">
          </a>
          {%- endif %}
        </section>

        <footer class="archive__articleFooter">
          <p><a href="{{ post.slug }}" class="article-cta">Read more</a></p>
          <ul class="archive__tagList">
          {%- for tag in post.tags %}
            <li class="archive__tag">
              <a href="/{{ tag|tag }}" class="archive__tagLink">{{ tag }}</a>
            </li>
          {%- endfor %}
          </ul>
        </footer>
      </article>
    </li>
  {%- endfor %}
  </ul>
{%- endblock %}
