<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="{{ ogType|default('website') }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:image" content="{{ ogImage|default('images/principled-engineer-ogimage.png') }}">
  {%- block og_tags %}{% endblock %}

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <meta name="theme-color" content="#FFFBEB">
</head>

<body>
  {% block content %}
    {{ content|safe }}  
  {% endblock %}
</body>

</html>
