  {%- macro branding() %}
  <a href="/" class="header__homeLink">
    <img src="/principled-engineer-logo.svg" role="presentation" class="header__logo" alt="">
    <span class="sr">The Principled Engineer</span>
  </a>
  {%- endmacro %}
