{%- macro primaryNav(classHook) %}
<ul class="primaryNav {{ classHook }}">
  <li class="primaryNav__item">
    <a href="/" class="primaryNav__link">Blog Posts</a>
  </li>
  <li class="primaryNav__item">
    <a href="/about" class="primaryNav__link">About</a>
  </li>
  <li class="primaryNav__item">
    <a href="/contact" class="primaryNav__link">Contact</a>
  </li>
</ul>
{%- endmacro %}
